# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
*.cover
*.py,cover

# Jupyter Notebooks
.ipynb_checkpoints/

# Others
*.bak
*.tmp